@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.navt
{
   
}
.brand , h2
{
    font-family: 'Supermercado One', cursive;
}
.cards
{
margin-left: auto;
margin-right: auto;


}
.horicon
{
    float: left;
    align-content:space-between;
}
.upbtn
{
    background-color: aquamarine;
   border-radius: 15%;
}
.upbtn:hover {
    background-color: red;
    zoom: 1.1;
    
  }
.icon:hover
{
    background-color: red;
    zoom: 1.1;
}
/* .uparea , .titleu ,.contentu
{
    width: 100% !important;
}
.contentu
{
    
} */
.popup
{
    width: 100% !important;
}
nav.navbar { position: initial;}
@media screen and (min-width: 992px) {
    .cards { width: 45% !important; 
    
    }
}
@media screen and (max-width: 992px) {
    
   .navt {
      font-size: 20px !important;
    }
    .cards{}
    .wcard
    {
        margin-top: 40%;
    }
}
