
  
  /* Safari <8 and IE <11 */
  @media screen and (max-width: 992px) {
    .navt { font-size: 40px !important; }
    
  }
  
 #root
 {
   min-height:max-content;
   /* background-color:#F6F6F6; */
 }
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #eee; */
  padding: 0 16px;
  background-color: #00991f;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");

}
.home-card
{
   
    height: max-content;
    margin:26px auto;
    justify-content:space-around;
}
.cards
{
margin-left: auto;
margin-right: auto;


}
.footer
{
  margin-top: 5% !important;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  justify-content: space-around;
}
.item
{
    width: 30%;
   
}
    
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(65, 33, 182) !important;
    box-shadow: 0 1px 0 0 rgb(65, 33, 182) !important;
  }
.auth-card
{
    padding: 20px;
    text-align: center;
  
}
.home-card
{
    max-width: 800px;
    height: max-content;
    margin:26px auto;
    justify-content:space-around;
}
header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.brand
{
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.blogout
{
  float: right;
  background-color: red !important;

}
.brandb
{
  background-color: #f671dd;
  margin: auto -16px;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.stdbtn
{
  margin-left: 30%;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

form {
  position: relative;
  max-width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.button
{
position: relative;
left: 90%;

width: 36px;
height: 36px;
}
.icon
{
  position: relative;
  left: 80%;
 
 
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
